<section class="py-32 px-6 lg:p-8 lg:py-32 bg-linear-to-bl from-primary/5 to-transparent border-t border-border w-full flex flex-col md:flex-row gap-4">
	<div class="flex-1 article-style group">
		<svg class="icon-article-style" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<path d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"/>
			<path d="M20 2v4"/>
			<path d="M22 4h-4"/>
			<circle cx="4" cy="20" r="2"/>
		</svg>
		<h3 class="my-8 text-xl font-bold">Sélection Premium</h3>
		<p class="text-muted-foreground leading-relaxed">
			Établissements triés sur le volet pour leur excellence et leur potentiel
		</p>
	</div>

	<div class="flex-1 article-style group">
		<svg class="icon-article-style" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"/>
		</svg>
		<h3 class="my-8 text-xl font-bold">Processus Simplifié</h3>
		<p class="text-muted-foreground leading-relaxed">
			Participation aux enchères en quelques clics avec confirmation immédiate
		</p>
	</div>

	<div class="flex-1 article-style group">
		<svg class="icon-article-style" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<path d="M16 7h6v6"/>
			<path d="m22 7-8.5 8.5-5-5L2 17"/>
		</svg>
		<h3 class="my-8 text-xl font-bold">Opportunités Uniques</h3>
		<p class="text-muted-foreground leading-relaxed">
			Investissements stratégiques dans le secteur de la restauration de luxe
		</p>
	</div>
</section>
