{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block title %}Accueil
{% endblock %}

{% block body %}
    {% for type, message in app.flashes %}
        <div class="alert alert-{{ type }}" role="alert">
            {{ message | join(', ') }}
        </div>
    {% endfor %}
    <div class="bg-red-500 text-white p-4">
    <h1>Bienvenue</h1>
    </div>
{% endblock %}
