{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
    {% for type, message in app.flashes %}
        <div class="alert alert-{{ type }}" role="alert">
            {{ message | join(', ') }}
        </div>
    {% endfor %}

    {{ include('Components/Header.html.twig') }}


    <div class="w-full flex flex-col items-center justify-center text-center h-screen bg-linear-to-br from-primary/5 via-background to-background">
        <p class="primary-comment">
            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkles-icon lucide-sparkles"><path d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"/><path d="M20 2v4"/><path d="M22 4h-4"/><circle cx="4" cy="20" r="2"/></svg>
            Plateforme Premium d'Enchères
        </p>
        <h1 class="text-6xl sm:text-7xl lg:text-8xl font-bold mb-6 tracking-tight leading-none max-w-200 mt-8">Investissez dans <span class="text-gradient">l'Excellence</span></h1>
        <p class="text-description">Découvrez et participez aux enchères des restaurants les plus prestigieux de France</p>
        <ul class="flex flex-col sm:flex-row gap-4 text-lg font-medium text-white items-center justify-center">
            <a href="/encheres" class="primary-bttn">
              Explorer les enchères
              <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
            </a>
            <a href="/dashboard" class="secondary-bttn">Dashboard</a>
        </ul>
    </div>

    <div class="py-20 border-y border-border relative overflow-hidden items-center justify-center text-center bg-linear-to-r from-primary/5 to-transparent">
        <ul class="grid grid-cols-2 md:grid-cols-4 gap-8">
            <li>
                <p class="text-5xl font-bold mb-2 text-gradient">150+</p>
                <p class="text-sm uppercase tracking-wider text-muted-foreground">Enchères</p>
            </li>
            <li>
                <p class="text-5xl font-bold mb-2 text-gradient">€85M</p>
                <p class="text-sm uppercase tracking-wider text-muted-foreground">Volume</p>
            </li>
            <li>
                <p class="text-5xl font-bold mb-2 text-gradient">2.5K+</p>
                <p class="text-sm uppercase tracking-wider text-muted-foreground">Investisseurs</p>
            </li>
            <li>
                <p class="text-5xl font-bold mb-2 text-gradient">98%</p>
                <p class="text-sm uppercase tracking-wider text-muted-foreground">Satisfaction</p>
            </li>
        </ul>
    </div>

    <div class="flex flex-col items-center justify-center my-24">
        <p class="primary-comment">
          <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-zap-icon lucide-zap"><path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"/></svg>
          Sélection Premium
        </p>
        <h1 class="text-4xl md:text-6xl font-bold my-4">Enchères Exclusives</h1>
        <p class="text-description">Les établissements les plus prestigieux</p>

        <div class="flex flex-col lg:flex-row lg:flex-wrap gap-6 w-full p-6 lg:p-8 mt-12">

            <article class="w-full h-150 lg:h-200 lg:w-3/6 flex items-end justify-start relative article-style">
              <p class="absolute top-0 right-0 m-6 px-2 py-1 rounded-full text-xs font-semibold bg-primary">45 places</p>
              <div class="w-full">
                <p class="text-xs text-primary uppercase tracking-wider mb-2">Restaurant gastronomique</p>
                <h3 class="font-bold text-white mb-2 text-2xl">Le jardin groumand</h3>
                <p class="text-gray-300 mb-4">Paris 8ème</p>
                <div class="flex items-end justify-between">
                  <div>
                    <p class="text-xs text-gray-400 mb-1">Prix de départ</p>
                    <p class="font-bold text-primary text-3xl">€1,500,000</p>
                  </div>
                  <a href="" class="primary-bttn">
                    Découvrir
                    <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                  </a>
                </div>
              </div>
            </article>

            <div class="flex flex-col md:flex-row lg:flex-col lg:flex-1 gap-6">
              <article class="w-full h-100 md:flex-1 md:h-150 lg:h-75 flex items-end justify-start relative article-style">
                <p class="absolute top-0 right-0 m-6 px-2 py-1 rounded-full text-xs font-semibold bg-primary">45 places</p>
                <div class="w-full">
                  <p class="text-xs text-primary uppercase tracking-wider mb-2">Restaurant gastronomique</p>
                  <h3 class="font-bold text-white mb-2 text-2xl">Le jardin groumand</h3>
                  <p class="text-gray-300 mb-4">Paris 8ème</p>
                  <div class="flex items-end justify-between">
                    <div>
                      <p class="text-xs text-gray-400 mb-1">Prix de départ</p>
                      <p class="font-bold text-primary text-3xl">€0.3M</p>
                    </div>
                    <a href="" class="primary-bttn">
                      Découvrir
                      <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                    </a>
                  </div>
                </div>
              </article>
              
              <article class="w-full h-100 md:flex-1 md:h-150 lg:h-75 flex items-end justify-start relative article-style">
                <p class="absolute top-0 right-0 m-6 px-2 py-1 rounded-full text-xs font-semibold bg-primary">45 places</p>
                <div class="w-full">
                  <p class="text-xs text-primary uppercase tracking-wider mb-2">Restaurant gastronomique</p>
                  <h3 class="font-bold text-white mb-2 text-2xl">Le jardin groumand</h3>
                  <p class="text-gray-300 mb-4">Paris 8ème</p>
                  <div class="flex items-end justify-between">
                    <div>
                      <p class="text-xs text-gray-400 mb-1">Prix de départ</p>
                      <p class="font-bold text-primary text-3xl">€0.3M</p>
                    </div>
                    <a href="" class="primary-bttn">
                      Découvrir
                      <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                    </a>
                  </div>
                </div>
                </article>
            </div>
            
            <div class="flex flex-col md:flex-row gap-6 w-full lg:w-4/5">
              <article class="w-full h-100 md:flex-1 md:h-75 flex items-end justify-start relative article-style">
                <p class="absolute top-0 right-0 m-6 px-2 py-1 rounded-full text-xs font-semibold bg-primary">45 places</p>
                <div class="w-full">
                  <p class="text-xs text-primary uppercase tracking-wider mb-2">Restaurant gastronomique</p>
                  <h3 class="font-bold text-white mb-2 text-2xl">Le jardin groumand</h3>
                  <p class="text-gray-300 mb-4">Paris 8ème</p>
                  <div class="flex items-end justify-between">
                    <div>
                      <p class="text-xs text-gray-400 mb-1">Prix de départ</p>
                      <p class="font-bold text-primary text-3xl">€0.3M</p>
                    </div>
                    <a href="" class="primary-bttn">
                      Découvrir
                      <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                    </a>
                  </div>
                </div>
              </article>

              <article class="w-full h-100 md:flex-1 md:h-75 flex items-end justify-start relative article-style">
                <p class="absolute top-0 right-0 m-6 px-2 py-1 rounded-full text-xs font-semibold bg-primary">45 places</p>
                <div class="w-full">
                  <p class="text-xs text-primary uppercase tracking-wider mb-2">Restaurant gastronomique</p>
                  <h3 class="font-bold text-white mb-2 text-2xl">Le jardin groumand</h3>
                  <p class="text-gray-300 mb-4">Paris 8ème</p>
                  <div class="flex items-end justify-between">
                    <div>
                      <p class="text-xs text-gray-400 mb-1">Prix de départ</p>
                      <p class="font-bold text-primary text-3xl">€0.3M</p>
                    </div>
                    <a href="" class="primary-bttn">
                      Découvrir
                      <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                    </a>
                  </div>
                </div>
              </article>
            </div>
        </div>
        <a href="/encheres" class="secondary-bttn">
          Voir toutes les enchères
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
        </a>
    </div>

    <div class="py-32 px-6 lg:p-8 lg:py-32 bg-linear-to-bl from-primary/5 to-transparent border-t border-border w-full flex flex-col md:flex-row gap-4">
        <div class="flex-1 article-style group">
          <svg class="icon-article-style" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkles-icon lucide-sparkles"><path d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"/><path d="M20 2v4"/><path d="M22 4h-4"/><circle cx="4" cy="20" r="2"/></svg>
          <h3 class="my-8 text-xl font-bold">Sélection Premium</h3>
          <p class="text-muted-foreground leading-relaxed">Établissements triés sur le volet pour leur excellence et leur potentiel</p>
        </div>
        <div class="flex-1 article-style group">
          <svg class="icon-article-style" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-zap-icon lucide-zap"><path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"/></svg>
          <h3 class="my-8 text-xl font-bold">Processus Simplifié</h3>
          <p class="text-muted-foreground leading-relaxed">Participation aux enchères en quelques clics avec confirmation immédiate</p>
        </div>
        <div class="flex-1 article-style group">
          <svg class="icon-article-style" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trending-up-icon lucide-trending-up"><path d="M16 7h6v6"/><path d="m22 7-8.5 8.5-5-5L2 17"/></svg>
          <h3 class="my-8 text-xl font-bold">Opportunités Uniques</h3>
          <p class="text-muted-foreground leading-relaxed">Investissements stratégiques dans le secteur de la restauration de luxe</p>
        </div>
    </div>

    <div class="w-full flex flex-col items-center justify-center text-center bg-linear-to-br from-primary/10 via-background to-primary/5 py-32">
        <p class="primary-comment">
            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkles-icon lucide-sparkles"><path d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"/><path d="M20 2v4"/><path d="M22 4h-4"/><circle cx="4" cy="20" r="2"/></svg>
            Rejoignez-nous
        </p>
        <h1 class="text-5xl md:text-6xl font-bold mb-6 tracking-tight leading-none max-w-200 mt-8">Prêt à investir ?</h1>
        <p class="text-description">Découvrez et participez aux enchères des restaurants les plus prestigieux de France</p>
        <ul class="flex flex-col sm:flex-row gap-4 text-lg font-medium text-white items-center justify-center">
            <a href="/dashboard" class="primary-bttn">
              Accéder au Dashboard
              <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
            </a>
        </ul>
    </div>
    
{% endblock %}