
###> symfony/framework-bundle ###
/.env.local
/.env.prod
/node_modules/
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
###< symfony/asset-mapper ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> friendsofphp/php-cs-fixer ###
php-cs-fixer.phar
###< friendsofphp/php-cs-fixer ###

###> symfony/flex ###
compose.override.yaml
###< symfony/flex ###
