parameters:
    level: 6
    paths:
        - src/
        - tests/
    excludePaths:
        - .php-cs-fixer.dist.php
    ignoreErrors:
        # Doctrine assigne l'id après persist()
        - identifier: property.unusedType
          path: src/Entity/*.php
