@layer components {

  .cb-checkbox {
    @apply peer
      size-4
      shrink-0
      rounded-[4px]
      border
      border-border
      bg-input-background
      dark:bg-input/30
      shadow-xs
      outline-none
      transition-shadow
      focus-visible:ring-[3px]
      focus-visible:ring-ring/50
      focus-visible:border-ring
      disabled:cursor-not-allowed
      disabled:opacity-50
      aria-invalid:border-destructive
      aria-invalid:ring-destructive/20
      dark:aria-invalid:ring-destructive/40;
  }

  .cb-checkbox:checked {
    @apply bg-primary border-primary text-primary-foreground;
  }

}