@import "tailwindcss";

@theme{

  --color-background: oklch(0.145 0 0);
  --color-border: oklch(0.269 0 0);
  --color-border-hover: #6f72f2;

  --color-foreground: oklch(0.985 0 0);

  --color-muted-foreground: #A1A1A1;

  --color-primary: #6366F9;

  --color-secondary: oklch(0.269 0 0);
  --color-sidebar-border: oklch(0.269 0 0);
}

@layer components {

    .article-style {
        @apply rounded-xl p-6 border border-border hover:border-primary/50 cursor-pointer transition-all duration-200;
    }

    .icon-article-style{
      @apply size-12 rounded-xl bg-primary/10 flex items-center justify-center group-hover:bg-primary/20 transition-colors duration-200 p-3 text-primary;
    }

    .text-description{
        @apply text-xl sm:text-2xl text-muted-foreground mb-12 max-w-3xl mx-auto leading-relaxed px-4;
    }

    .text-gradient{
        @apply bg-linear-to-r from-primary to-primary/60 bg-clip-text text-transparent;
    }

    .primary-bttn {
        @apply bg-primary px-4 py-2 rounded flex items-center justify-center gap-4 w-fit text-lg font-medium text-white hover:bg-primary/90 transition-all duration-200;
    }

    .secondary-bttn {
        @apply bg-transparent px-6 py-2 rounded flex items-center justify-center gap-4 w-fit text-lg font-medium text-white hover:bg-primary/90 transition-all border-2 border-border hover:border-border-hover;
    }

    .primary-comment{
        @apply flex items-center justify-center gap-2 border p-2 px-4 rounded-3xl bg-primary/10 text-primary text-sm font-semibold;
    }
}