<div class="px-4 py-4 md:px-6 md:py-6 border-b border-border">
    <h1 class="text-4xl font-bold mb-2"> 
        {{ title }}
    </h1>

    <p class="text-muted-foreground"> 
        {{ description }}
    </p>
</div>